.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    z-index: 1000;
    position: relative;
    margin: 0 auto;
}

.modal-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: #007bff solid 1px;
    color: #383737;
}

.modal-body {
    margin-bottom: 20px;
    color: #383737;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    bottom: 0;
}