
.projectDetailsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

.projectDetailsContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.projectDetailsLabel {
    font-weight: bold;
    color: white;
    min-width: 200px;
    text-align: left;
}



